<%- include("partials/header"); -%>
<section class="container-fluid px-0 mt-4">
    <div class="row align-items-center justify-content-center">
        <div class="text-center col-lg-8 col-sm-8 mb-xs-3 mx-4 mt-5 mb-4">
        <!-- <div class="text-center col-8 col-xs-10 mt-5 mb-4"> -->
            <h1 class="h1">Buy From Us</h1>
            <p>Select one of our online store below to see our most up to date product selection.</p>
        </div>
    </div>
</section>
<section class="container-fluid px-0">
    <div class="col-12 text-center">
        <div class="row align-items-center justify-content-center">
            <div class="row align-items-top justify-content-center">
                <div class="col-lg-3 col-sm-8 mb-xs-3 mx-4">
                        <a href="https://www.amazon.com/s?me=A5QXFY2WRENAU&marketplaceID=ATVPDKIKX0DER"><img class="card-img-top img-fluid" src="/css/imgs/11.jpg" alt="amazon logo"></a>
                        <div class="card-body">
                        <h3 class="card-title h3">Amazon</h3>
                        <p class="card-text">Shop here to see our largest selection of products with the fastest delivery times available!</p>
                        <a href="https://www.amazon.com/s?me=A5QXFY2WRENAU&marketplaceID=ATVPDKIKX0DER" class="btn button">Shop now</a>
                        </div>
                </div>
                <div class="col-lg-3 col-sm-8 mb-xs-3 mx-4">
                        <a href="https://www.ebay.com/str/criticalcommodity"><img class="card-img-top img-fluid" src="/css/imgs/222.jpg" alt="ebay logo"></a>
                        <div class="card-body">
                        <h3 class="card-title h3">Ebay</h3>
                        <p class="card-text">Shop our most unique selection of products!</p>
                        <a href="https://www.ebay.com/str/criticalcommodity" class="btn button">Shop now</a>
                        </div>
                </div>
                <div class="col-lg-3 col-sm-8 mb-xs-3 mx-4">
                        <a href="https://www.walmart.com/seller/13497"><img class="card-img-top img-fluid" src="/css/imgs/3.jpg" alt="walmart logo"></a>
                        <div class="card-body">
                        <h3 class="card-title h3">Walmart</h3>
                        <p class="card-text">Shop our newest store!</p>
                        <a href="https://www.walmart.com/seller/13497" class="btn button">Shop now</a>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>


<%- include("partials/footer"); -%>
