
<%- include("partials/header"); -%>
<main>
  <div class="mt-5">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-5 order-1 order-md-2">
            <img src="/css/imgs/warehouse.jpg" alt="truck img" class="img-fluid" id="content-img-one">
        </div>
        <div class="col-md-5 px-4 mx-2  mb-4 text-left order-1 order-md-1">
            <div class="row justify-content-center">
                <div class="col-12 mb-4 mb-md-0 mt-4">
                  <h2 class="h2">About Us</h2>
                  <p >Welcome to our website! At Mojo Industries, we offer a wide range of products including bags, belts, clothing, electronics, fashion accessories, food, leather goods, shoes, and toys. We pride ourselves in offering authentic and high-quality goods at great prices. Our mission is to provide our customers with a diverse selection of products that meet their needs and exceed their expectations.</p>
                  <a href="/buyFromUs" class="btn button mt-4 mt-lg-4 mb-lg-5">SHOP</a>
                </div>
            </div>
        </div>
    </div>
      <div class="row align-items-center justify-content-center">
          <div class="col-md-5 order-1 order-md-2">
              <img src="/css/imgs/truck.jpg" alt="truck img" class="img-fluid" id="content-img-two">
          </div>
          <div class="col-md-5 px-4 mx-2 mb-4 text-left order-2 order-md-2">
              <div class="row justify-content-center">
                  <div class="col-12 mb-4 mb-md-0 mt-4">
                      <h2 class="h2">Sell To Us</h2>
                      <p>Overstock? Liquidation? Want to launch your product on E-Commerce markets like Amazon, eBay, or Walmart? Send us a message with your items and we will get back with you quickly.</p>
                      <a href="/sellToUs" class="btn button mt-4 mt-lg-4 mb-3 mb-lg-5">Sell To Us</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</main>

<%- include("partials/footer"); -%>
