<%- include("partials/header"); -%>
<section class="container-fluid px-0 pt-5 mt-5">
  <div class="col-12 text-center">
      <div class="row align-items-center content justify-content-center">
          <div class="text-center col-sm-10 col-lg-5 col-md-6 mb-md-0 my-3">
              <h1 class="text-left h1">Sell To Us</h1>
          </div>
      </div>
  </div>
</section>
<section class="container-fluid px-0 mt-5">
  <div class="col-12 text-center">
      <div class="row align-items-center content justify-content-center">
          <div class="text-center col-sm-10 col-lg-5 ml-sm-3 col-md-6 mb-md-0">
              <h2 class="mb-3 h2">We Love Deals!</h2>
              <p>Through our multiple retail channels and wholesale partners, Mojo Industries is capable of selling pallet to truckloads of inventory quickly. If you have inventory you are Overstock? Liquidation? Want to launch your product on E-Commerce markets like Amazon, eBay, or Walmart? If you have inventory to sell, please reach out to us below and let us know!</p>
              <a href="/contact" class="btn button mt-4 mt-lg-5 mb-5">Contact Us</a>
          </div>
      </div>
  </div>
</section>

<%- include("partials/footer"); -%>
